h1 {
    text-align: center;
}

.grid-container {
    display: grid;
    background-color: #ffffff;
    border: 1px solid #1e96ff;
    border-radius: 20px;
    width: 600px;
    height: 260px;
    margin: auto;
    gap: 0px;
    grid-template-areas: "colorWhite colorWhite colorGrey";
    /* grid-template-rows: auto;
    grid-template-columns: 2fr 1fr; */
}

.grid-item {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 19px 0px 0px 19px;
    padding: 10px;
}

.grid-item-2 {
    background-color: gray;
    color: black;
    text-align: center;
    border-radius: 0px 19px 19px 0px;
    padding: 10px;
}

.white {
    display: flex;
    grid-area: colorWhite;
}

.grey {
    display: flex;
    grid-area: colorGrey;
    justify-content: center;
    align-items: center;
}

img {
    width: 75px;
    height: 75px;
}