h1 {
    text-align: center;
}

.grid-container {
    display: grid;
    background-color: #e0f6ff;
    border: 1px solid #1e96ff;
    grid-template-rows: 50px 110px;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
}

.grid-item {
    background-color: #1e96ff;
    color: white;
    text-align: center;
    margin: 2px;
    padding: 10px;
}